*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: rgb(141,141,171);
    background: radial-gradient(circle, rgba(141,141,171,1) 0%, rgba(0,0,0,1) 77%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
}
.form{
    display: flex;
    flex-direction: column;
}

