<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="../static/css/about.css" th:href="@{/css/about.css}">
    <title>Title</title>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__row">
                <div class="header__main">
                    <a href="" class="header__logo">LOGO</a>
                    <a href="" class="header__link">Новости</a>
                    <a href="" class="header__link">О нашем продукте</a>
                    <a href="" class="header__link">Скидки</a>
                </div>
                <div class="header__actions">
                    <a href="" class="header__action">
                        <!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Tools -->
                        <svg class="header__svg" fill="#000000" width="32px" height="32px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path d="M933.619 171.527c120.508 119.575 120.508 313.488-.001 433.065L577.326 958.078c-36.093 35.804-94.559 35.804-130.653-.001L90.381 604.591c-120.508-119.575-120.508-313.488.001-433.065C206.114 56.711 390.89 52.232 511.999 158.09c121.11-105.859 305.885-101.38 421.619 13.437zm-436.043 29.076c-104.451-103.632-273.884-103.632-378.344-.001C14.87 304.156 14.87 471.961 119.231 575.514l356.29 353.484c20.124 19.963 52.835 19.963 72.959.001l356.29-353.484c104.362-103.554 104.362-271.359.001-374.912C800.31 96.97 630.876 96.97 526.426 200.602c-7.985 7.922-20.864 7.922-28.849 0z"/></svg>
                    </a>
                    <a href="/registration" class="header__action">
                        <svg class="header__svg" fill="000000" width="32px" height="32px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke="#000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="miter"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_iconCarrier"><circle cx="12" cy="6" r="4"></circle><path d="M20,22a7.89,7.89,0,0,0-8-8,7.89,7.89,0,0,0-8,8Z"></path></g></svg>
                    </a>
                </div>
            </div>
        </div>
    </header>




</div>
</body>
</html>