<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/registration.css" th:href="@{/css/registration.css}">

  <title>Title</title>
</head>
<body>
<div class="wrapper">

  <form action="" class="form">
    <h1 class="form__title">Регистрация</h1>

    <div class="form__group">
      <input type="text" class="form__input">
      <label class="form__label">Имя</label>
    </div>

    <div class="form__group">
      <input type="text" class="form__input">
      <label class="form__label">пароль</label>
    </div>

    <button class="form__button">Зарегестрироваться</button>
  </form>
</div>


</body>
</html>