<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/registration.css}">

  <title>Title</title>
</head>

<form class="wrapper">

  <div class="form__title">
    <h1>Регистрация</h1>
  </div>
  <div class="input-data">
    <input id="login" type="text" required>
    <div class="underline"></div>
    <label for="login">Логин</label>
  </div>

  <div class="input-data">
    <input id="password" type="password" required>
    <div class="underline"></div>
    <label for="password">Пароль</label>
  </div>

  <div class="input-data">
    <input id="passwordConfirm" type="password" required>
    <div class="underline"></div>
    <label for="passwordConfirm">Подтвердите пароль</label>
  </div>

  <a href="" class="ripple__btn">Регистрация</a>

  <script>
    const btn = document.querySelector('.ripple__btn');

    btn.onmousemove = function(e){
      const x = e.pageX - btn.offsetLeft;
      const y = e.pageY - btn.offsetTop;
      btn.style.setProperty('--x', x + 'px')
      btn.style.setProperty('--y', y + 'px')
    }
  </script>

</form>
</html>